.avatar {
    width: 80px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    color: var(--main-b-color);
    background-color: var(--button-bg-color);
    border-radius: 100%;
    overflow: hidden;

    margin: 12px;
}

.avatar__img {
    width: 100%;
    height: 100%;
}