*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-b-color: #FFFFFF;
    --button-bg-color: #FF5555;
    --text-mouse-color: #7E7E7E;
    --box-border-color: #D9D9D9;
    --box-shadow-color: rgba(182, 182, 182, 0.25);
    --text-hover-color: #208FBF;
    --button-hover-color: #FD8686;
    --input-focus-color: #FF5555;
    --disabled-b-color: #F9F9F9;
  }

.menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    margin-left: 20px;
    margin-right: 20px;
}

.element{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 10px;

    
}

.serchButton{
    width: 50px;
    height: 50px;
    margin-left: 12px;

    background-color: var(--button-bg-color);
    border-radius: 6px;
}

.gitRepoTitle{
    display: flex;

    background: var(--main-b-color);
    border: 1px solid var(--box-border-color);
    box-sizing: border-box;
    border-radius: 6px;
}

.gitRepoTitle:hover{
    box-shadow: 0px 2px 6px var(--box-shadow-color);
}

.avatar{
    margin: 12px;
    width: 80px;
    height: 80px;
}

.content{
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.info{
    display: flex;
}

.starts{
    display: flex;

    margin-right: 20px;
}

.startsInfo{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-mouse-color);

    margin-left: 4.52px;
}

.repoName{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: 4px;;
}

.orgName{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-mouse-color);

    margin-bottom: 4px;

    overflow: hidden;
    width: 240px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.orgName:hover{
    color: var(--text-hover-color);
}

.dtUpdated{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-mouse-color);
}

.serchButton:hover{
    background-color: var(--button-hover-color);

}

.svgSerchButton{
    margin: auto;
    vertical-align: middle;
}

input{
    width: 100%;
    height: 100%;
    background: var(--main-b-color);
    border: 1px solid var(--box-border-color);
    box-sizing: border-box;
    border-radius: 6px;
    
    padding-left: 12px; 

    font-family: Roboto;
    font-size: 14px;
}

input:focus{
    border: 1px solid var(--input-focus-color);
}

input:disabled{
    background: var(--disabled-b-color);
}

body{
    width: 397px;
}