<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Меню</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="Menu.css"> -->
  <style>
    @import "Menu.css" all;
  </style>
 </head>
 <body>
    <div class="menu">
        <div class="searchbar">
            <div class="searchbar__input">
                <input placeholder="Введите название организации">
            </div>
            <div class="searchbar__button">
                    <svg class="searchbar__button__svg" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="50" height="50" rx="6"/>
                        <path d="M28.5 27H27.71L27.43 26.73C28.41 25.59 29 24.11 29 22.5C29 18.91 26.09 16 22.5 16C18.91 16 16 18.91 16 22.5C16 26.09 18.91 29 22.5 29C24.11 29 25.59 28.41 26.73 27.43L27 27.71V28.5L32 33.49L33.49 32L28.5 27ZM22.5 27C20.01 27 18 24.99 18 22.5C18 20.01 20.01 18 22.5 18C24.99 18 27 20.01 27 22.5C27 24.99 24.99 27 22.5 27Z" fill="white"/>
                        </svg>
            </div>
        </div>
        
        <div class="card">
            <div class="card__avatar">
                <img src="../Icons/Avatar.svg"/>
            </div>
            <div class="card__content">
                <div class="card__content__repo-name">Название</div>
                <div class="card__content__org-name">Компания</div>
                <div class="card__content__info">
                    <div class="card__raiting">
                        <img class="card__raiting__icon" src="../Icons/Star.svg"/>
                        <div class="card__raiting__counter">123</div>
                    </div>
                    <div class="date-updated">Updated</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__avatar">
                <img src="../Icons/Avatar.svg"/>
            </div>
            <div class="card__content">
                <div class="card__content__repo-name">Название</div>
                <div class="card__content__org-name">Компания</div>
                <div class="card__content__info">
                    <div class="card__raiting">
                        <img class="card__raiting__icon" src="../Icons/Star.svg"/>
                        <div class="card__raiting__counter">123</div>
                    </div>
                    <div class="date-updated">Updated</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__avatar">
                <img src="../Icons/Avatar.svg"/>
            </div>
            <div class="card__content">
                <div class="card__content__repo-name">Название</div>
                <div class="card__content__org-name">КомпанияКомпанияКомпанияКомпанияКомпанияКомпанияКомпанияКомпания</div>
                <div class="card__content__info">
                    <div class="card__raiting">
                        <img class="card__raiting__icon" src="../Icons/Star.svg"/>
                        <div class="card__raiting__counter">123</div>
                    </div>
                    <div class="date-updated">Updated</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__avatar">
                <img src="../Icons/avatarDif.svg"/>
            </div>
            <div class="card__content">
                <div class="card__content__repo-name">Название</div>
                <div class="card__content__org-name">КомпанияКомпанияКомпанияКомпанияКомпанияКомпанияКомпанияКомпания</div>
                <div class="card__content__info">
                    <div class="card__raiting">
                        <img class="card__raiting__icon" src="../Icons/Star.svg"/>
                        <div class="card__raiting__counter">123</div>
                    </div>
                    <div class="date-updated">Updated</div>
                </div>
            </div>
        </div>
    </div>
 </body>
</html>